<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Account</title>
</head>
<body onload="document.f.username.focus();">
<div class="container">
    <div class="navbar">
        <h1>Leave Management System</h1>
    </div>
    <div class="content">
        <h2>Change User Password</h2>
        <p th:text="'Login user: ' + ${changeUserPasswordDTO.getLogin()}" />
        <form method="POST" modelattribute="changePasswordDTO">
            <p th:text="'New password: '"/>
            <input type="password" name="newPassword" path="newPassword" placeholder="New Password" />
            <if test="${pageContext.request.method=='POST'}"><errors path="newPassword" /></if>
            <input type="submit" value="Change" />
        </form>
    </div>
</div>
</body>
</html>