<!DOCTYPE html>
<html ng-app="leaveManagement" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Leave Management</title>
    </head>
    <body >
        <div id="container">
            <ng-include src="'/menu'"></ng-include>

            <div ng-controller="usersListController" id="content" class="col-md-8 col-md-offset-2">
                <br/><br/><br/><h1 th:text="#{user_list}"/>
                <table  st-table="rowCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <th th:text="#{id}"/>
                            <th  th:text="#{login}"/>
                            <th th:text="#{access_level}"/>
                            <th th:text="#{starting_date}"/>
                            <th th:text="#{active}"/>
                            <th th:text="#{confirmed}"/>
                            <th th:text="#{change}"/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in rowCollection.accountList">
                            <td>{{row.id}}</td>
                            <td>{{row.login}}</td>
                            <td>{{accessLevel(row.accessLevel)}}</td>
                            <td>{{row.startingDate}}</td>
                            <td>
                                <button type="button" ng-hide="{{row.active}}" ng-click="changeUserActiveStatus(row)" class="btn btn-sm btn-success">
                                    <i class="glyphicon glyphicon-ok-circle">
                                    </i>
                                    <i th:text="#{activate}"/>
                                </button>
                                <button type="button" ng-hide="{{!row.active}}" ng-click="changeUserActiveStatus(row)" class="btn btn-sm btn-danger">
                                    <i class="glyphicon glyphicon-remove-circle">
                                    </i>
                                    <i th:text="#{deactivate}"/>
                                </button>
                            </td>
                            <td>
                                <button type="button" ng-hide="{{row.confirm}}" ng-click="changeUserConfirmStatus(row)" class="btn btn-sm btn-success">
                                    <i class="glyphicon glyphicon-ok-circle">
                                    </i>
                                    <i th:text="#{confirm}"/>
                                </button>
                            </td>
                            <td>
                                <button type="button" ng-click="changeUserPassword(row)" class="btn btn-sm btn-info" th:text="#{password}"/>
                                <button type="button" ng-click="changeUserData(row)" class="btn btn-sm btn-info" th:text="#{account_details}"/>
                                <button type="button" ng-click="changeUserRole(row)" class="btn btn-sm btn-info" th:text="#{access_level}"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <script src="../js/config/jquery-3.1.1.js"></script>
        <script src="../js/config/bootstrap.min.js"></script>
        <script src="../js/config/angular.min.js"></script>
        <script src="../js/config/angular-route.min.js"></script>
        <script src="../js/app/leaveManagement.js"></script>
        <script src="../js/controller/menuController.js"></script>
        <script src="../../../js/controller/account/authorizated/userListController.js"></script>
        <link rel="stylesheet" href="../../../css/style.css"/>
        <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css"/>
    </body>
</html>