<div ng-controller="createImportantDateController" class="col-md-7 col-md-offset-2">
    <a>{{message}}</a>
    <a>{{dateCreate}}</a>
    <form name="CreateImportantDateForm" ng-show="flag" class="css-form" novalidate="true">
        <div class="form-group">
            <label>Date</label>
            <input type="date" name="date" class="form-control" ng-model="dateCreate" required="true"/>
            <div ng-show="CreateImportantDateForm.$submitted || CreateImportantDateForm.password.$touched">
                <span ng-show="CreateImportantDateForm.date.$error.required" class="help-block">Date is required</span>
                <span ng-show="CreateImportantDateForm.date.$error.date" class="help-block">Date is not correct</span>

            </div>
            <br/><button type='button' ng-disabled="CreateImportantDateForm.$invalid" ng-click="create()" >Create</button><br/>
        </div>
    </form>
</div>