<table ng-controller="administrationGroupController" st-table="rowCollection" class="table table-striped"
       xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th th:text="#{name}"/>
        <th th:text="#{lastname}"/>
        <th th:text="#{user_login}"/>
        <th th:text="#{email}"/>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in applyGroup">
            <td>{{row.employee.name}}</td>
            <td>{{row.employee.lastname}}</td>
            <td>{{(row.employee.login)}}</td>
            <td>{{row.employee.email}}</td>
            <td>
                <a ng-hide="checkManager(row.employee.login)" >
                    <a ng-controller="administrationGroupController">
                        <button type="button" ng-click="active(row)" class="btn btn-sm btn-success">
                            <i class="glyphicon glyphicons-ok"></i>
                            <i th:text="#{activate}"/>
                        </button>
                        <button type="button" ng-click="remove(row)" class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                            <i th:text="#{remove}"/>
                        </button>
                    </a>
                </a>

            </td>
        </tr>
    </tbody>
</table>