<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users List</title>
</head>
<body onload="document.f.username.focus();">
<div class="container">
    <div class="navbar">
        <h1>Leave Management System</h1>
    </div>
    <div class="content">
        <h2>List application to group</h2>
        <form method="POST" modelattribute="listApplicationGroupDTO">
            <table style="width:100%">
                    <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Login</th>
                <th>Email</th>

            </tr>
                <tr th:each="teamGroupMember : ${listApplicationGroupDTO.getTeamGroupMemberList()}">
                    <td th:text="${teamGroupMember.getEmployee().getName()}"/>
                    <td th:text="${teamGroupMember.getEmployee().getLastname()}"/>
                    <td th:text="${teamGroupMember.getEmployee().getLogin()}"/>
                    <td th:text="${teamGroupMember.getEmployee().getEmail()}"/>
                    <input type="submit" value="Create Group" />
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>