<table  st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Login</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in memberList">
            <td>{{row.employee.name}}</td>
            <td>{{row.employee.lastname}}</td>
            <td>{{(row.employee.login)}}</td>
            <td>{{row.employee.email}}</td>
            <td>
                <a ng-hide="checkManager(row.employee.login)">
                    <button type="button" ng-controller="administrationGroupController" ng-click="remove(row.employee.login)" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                        Remove
                    </button>
                </a>
            </td>
        </tr>
    </tbody>
</table>

            <!--</tr>-->
                <!--<tr th:each="teamGroupMember : ${listApplicationGroupDTO.getTeamGroupMemberList()}">-->
                    <!--<td th:text="${teamGroupMember.getEmployee().getName()}"/>-->
                    <!--<td th:text="${teamGroupMember.getEmployee().getLastname()}"/>-->
                    <!--<td th:text="${teamGroupMember.getEmployee().getLogin()}"/>-->
                    <!--<td th:text="${teamGroupMember.getEmployee().getEmail()}"/>-->
                <!--</tr>-->
                <!--<input type="submit" value="Create Group" />-->
            <!--</table>-->
        <!--</form>-->
