<div class="col-md-7 col-md-offset-2" ng-controller="memberLeaveGroupController">
    <table  st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>Login</th>
            <th>Date Start</th>
            <th>Date End</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in approvedLeave">
            <td>{{row.account.name}}</td>
            <td>{{row.account.lastname}}</td>
            <td>{{(row.account.login)}}</td>
            <td>{{getDate(row.dateStart)}}</td>
            <td>{{getDate(row.dateEnd)}}</td>
        </tr>
        </tbody>
    </table>
</div>