<div class="col-md-7 col-md-offset-2">
    <table  ng-controller="importantDatesController" st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in importantDates">
            <td>{{getDate(row.date)}}</td>
            <td>
                <a ng-hide="checkManager('')">
                    <button type="button" ng-click="remove(row.id)" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                        Remove
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>