<!DOCTYPE html>
<html ng-app="leaveManagement" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Czas Na Urlop</title>
    </head>
    <body >
        <div id="container">
            <ng-include src="'/menu'"></ng-include>
            <div ng-controller="userAccountController" class="col-md-8 col-md-offset-2">
                <br/><br/><br/><h1 th:text="#{account_details}"/>
                <form name="detailsAccountForm" class="css-form" novalidate="true">
                    <div class="form-group">
                        <label th:text="#{name}"/> {{account.name}}<br/>
                        <label th:text="#{lastname}"/> {{account.lastname}}<br/>
                        <label th:text="#{email}"/> {{account.email}}<br/>
                        <label th:text="#{access_level}"/> {{accessLevel(account.accessLevel)}}<br/>
                        <label th:text="#{starting_date}"/> {{account.startingDate}}<br/>
                        <label th:text="#{work_time}"/> {{account.workTime}} <label>%</label><br/>
                        <label th:text="#{expirience}"/> {{account.expirienceYear}} <a th:text="#{years}"/> {{account.expirienceMonth}} <a th:text="#{months}"/> {{account.expirienceDay}} <a th:text="#{days}"/><br/>
                    </div>
                </form>
                <button type="button" ng-click="change()" class="btn btn-sm btn-info" th:text="#{edit}"/>
            </div>
        </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <script src="../js/config/jquery-3.1.1.js"></script>
        <script src="../js/config/bootstrap.min.js"></script>
        <script src="../js/config/angular.min.js"></script>
        <script src="../js/config/angular-route.min.js"></script>
        <script src="../js/app/leaveManagement.js"></script>
        <script src="../js/controller/menuController.js"></script>
        <script src="../../js/controller/account/authorizated/userAccountController.js"></script>
        <link rel="stylesheet" href="../../../css/style.css"/>
        <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css"/>
    </body>
</html>