<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit Account</title>
</head>
<body onload="document.f.username.focus();">
<div class="container">
	<div class="navbar">
		<h1>Leave Management System</h1>
	</div>
	<div class="content">
		<h2>Edit Account</h2>
		<form method="POST" modelattribute="editAccountDTO">
			<p th:text="'Name: ' + ${editAccountDTO.getName()} + '!'" />
			<input type="text" name="name" path="name" placeholder="New Name" />
			<if test="${pageContext.request.method=='POST'}"><errors path="name" /></if>
			<p th:text="'Lastname: ' + ${editAccountDTO.getLastname()} + '!'" />
			<input type="text" name="lastname" path="lastname" placeholder="New Lastname" />
			<if test="${pageContext.request.method=='POST'}"><errors path="lastname" /></if>
			<p th:text="'Email: ' + ${editAccountDTO.getEmail()} + '!'" />
			<input type="text" name="email" path="email" placeholder="New Email" />
			<if test="${pageContext.request.method=='POST'}"><errors path="email" /></if>
			<input type="submit" value="Edit" />
		</form>
	</div>
</div>
</body>
</html>