<!DOCTYPE html>
<html ng-app="leaveManagement" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Leave Management</title>
	</head>
	<body >
		<div id="container">
			<ng-include src="'/menu'"></ng-include>
			<div class="col-md-10 col-md-offset-1">
				<div ng-controller="changeDataController" id="content" class="col-md-8 col-md-offset-2">
					<br/><br/><br/><h2 th:text="#{edit_account}"/>
					<br/>
					<p>{{message}}</p>
					<br/>
					<form name="changeAccountForm" class="css-form" novalidate="true">
						<div class="form-group">
							<label th:text="#{name}"/>
							<input type="text" name="name" class="form-control" ng-model="account.name" required="true" minlength="2" maxlength="32"/>
							<div ng-show="changeAccountForm.$submitted || changeAccountForm.name.$touched">
								<span ng-show="changeAccountForm.name.$error.required" class="help-block">Name is required</span>
								<span ng-show="changeAccountForm.name.$error.minlength" class="help-block">Name must contain at least 2 characters</span>
								<span ng-show="changeAccountForm.name.$error.maxlength" class="help-block">Name must contain at least 32 characters</span>
							</div>
							<label th:text="#{lastname}"/>
							<input type="text" name="lastname" class="form-control" ng-model="account.lastname" required="true" minlength="2" maxlength="32"/>
							<div ng-show="changeAccountForm.$submitted || changeAccountForm.lastname.$touched">
								<span ng-show="changeAccountForm.lastname.$error.required" class="help-block">Lastname is required</span>
								<span ng-show="changeAccountForm.lastname.$error.minlength" class="help-block">Lastname must contain at least 2 characters</span>
								<span ng-show="changeAccountForm.lastname.$error.maxlength" class="help-block">Lastname must contain at least 32 characters</span>
							</div>
							<label th:text="#{email}"/>
							<input type="email" name="email" class="form-control" ng-model="account.email" required="true"/>
							<div ng-show="changeAccountForm.$submitted || changeAccountForm.email.$touched">
								<span ng-show="changeAccountForm.email.$error.required" class="help-block">Email is required</span>
								<span ng-show="changeAccountForm.email.$error.email" class="help-block">Email is wrong</span>
							</div>
						</div>
						<button type='button' ng-disabled="changeAccountForm.$invalid" ng-click="saveAccount()" th:text="#{save}"/>
					</form>
				</div>
			</div>
		</div>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
		<script src="../js/config/angular-route.min.js"></script>
		<script src="../js/config/jquery-3.1.1.js"></script>
		<script src="../js/config/bootstrap.min.js"></script>
		<script src="../js/config/angular.min.js"></script>
		<script src="../js/config/angular-route.min.js"></script>
		<script src="../js/app/leaveManagement.js"></script>
		<script src="../js/controller/menuController.js"></script>
		<script src="../../js/controller/account/authorizated/changeDataController.js"></script>
		<link rel="stylesheet" href="../../../css/style.css"/>
		<link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css"/>
	</body>
</html>